<body>
<div class="contact">
 <h2>Contact:</h2>
  <p> Résidence les écrins d'azur</p>
  <p>701 chemin des quatres chemins 06600 Antibes</p>
  <p> Tel: 0618350674</p>
  <p> Email: <a href="mailto:ericmvogo@yahoo.fr" title="click here in view to send me an email"> ericmvogo@yahoo.fr</a></p>
</div>


<form (ngSubmit)="envoyer(f.value)" #f="ngForm">
<div class="message">
  <h2>Nous contacter:</h2>
  <label>Nom*: </label>
  <div><input type="text" ngModel required maxlength="10"  #firstname=
    "ngModel"></div>
    <div *ngIf="firstname.dirty && firstname.hasError('required')">firstname is
      required
    </div>
<label>Prenom*:</label>
<div><input type="text" ngModel required maxlength="10"  #lastname=
  "ngModel"></div>
<div *ngIf="lastname.dirty && lastname.hasError('required')">lastname is
  required
</div>
<label>Sujet*:</label>
<div><input type="text" ngModel required maxlength="10"  #subject=
  "ngModel"></div>
<div *ngIf="subject.dirty || subject.hasError('required')">subject is
  required
</div>
<label>Message</label>
<div><textarea placeholder="text" maxlength="300"></textarea></div> 
<button class="btn btn-primary" type="submit" [disabled]="f.invalid">Envoyer</button>
 </div>
 </form>
</body>

